

<h1>Students</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.phone %></td>
        <td><%= student.twitter %></td>
        <td><%= student.course %></td>
        <td><%= link_to 'View Student', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
</table>

<br><br><br><br><br>
 <p>We advise all students to get in contact with other learners in the same course,
 this will assist in your path as some of our courses have a steep learning curve.</p>
 
 <p>Our suggestion would be to start a whatsapp or discord group, however this is not mandatory and you are welcome to continue your chosen course independently.</p>

 <%#<%= link_to 'New Student', new_student_path %>
<br><br><br>
<%= link_to 'home', root_path, class:"btn btn-secondary" %>